DATABASE_URL = postgres://<user>:<password>@<host>:<port>/<database>
PORT =
SESSION_SECRET = <secret>

# Cloudinary
CLOUDINARY_API_KEY = <api_key>
CLOUD_NAME = <cloud_name>
CLOUDINARY_SECRET = <secret>
