<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title><%= locals.title == null ? '' : `${title} | `%><%= appName %></title>
	<link rel="icon" type="svg+xml" href="/favicon.png" />
	<link rel="stylesheet" href="/styles/reset.css" />
	<link rel="stylesheet" href="/styles/index.css" />
	<link rel="stylesheet" href="/styles/components.css" />
	<link rel="stylesheet" href="/styles/utils.css" />
</head>
